---
import { createBaseurl } from "../lib/baseurl";

const { textcolor } = Astro.props;
---

<div class="mx-auto max-w-[1400px] p-4 sm:px-6 lg:px-8">
	<div class="relative flex items-center justify-between">
		<div class="xs:flex absolute inset-y-0 left-0 hidden items-center sm:flex md:flex lg:flex">
			<button
				type="button"
				class="relative inline-flex rounded-md bg-white p-2 text-gray-400 hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
				aria-controls="mobile-menu"
				aria-expanded="false"
			>
				<span class="absolute -inset-0.5"></span>
				<span class="sr-only">Open main menu</span>
				<svg
					class="block size-6"
					fill="none"
					viewBox="0 0 24 24"
					stroke-width="1.5"
					stroke="currentColor"
					aria-hidden="true"
				>
					<path
						stroke-linecap="round"
						stroke-linejoin="round"
						d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
				</svg>
				<svg
					class="hidden size-6"
					fill="none"
					viewBox="0 0 24 24"
					stroke-width="1.5"
					stroke="currentColor"
					aria-hidden="true"
				>
					<path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
				</svg>
			</button>
		</div>
		<div
			class="xs:justify-center flex flex-1 items-center sm:justify-center md:justify-center lg:justify-center"
		>
			<div class="float-left flex shrink-0 content-start">
				<a href={createBaseurl("")} aria-label="Index">
					<img
						class="inline h-14 w-auto"
						src={createBaseurl("Logo_A_v3_resize65.png")}
						alt="ABaC:us"
						title="ABaC:us"
					/>
					<h1 class="ml-2 mt-2 inline align-middle font-sans text-5xl font-bold">BaC:us</h1>
				</a>
				<!-- <p class="p-4 font-bold text-yellow-300">
					<span>in Arbeit</span>
				</p> -->
			</div>
			<div class="xs:hidden absolute right-2 ml-6 block sm:hidden md:hidden lg:hidden">
				<div class="flex space-x-4">
					<a
						href={createBaseurl("corpus")}
						class={`block px-1 text-lg ${textcolor}`}
						role="menuitem"
						tabindex="-1"
					>
						<figure>
							<img
								class="max-w-[200px]"
								alt="Corpus"
								src={createBaseurl("Corpus-Button.png")}
								title="Corpus"
							/>
							<!--<figcaption class="pt-1 text-sm text-red-600">Korpus</figcaption>-->
						</figure>
					</a>
					<a
						href={createBaseurl("suche")}
						class={`block px-1 text-lg ${textcolor}`}
						role="menuitem"
						tabindex="-1"
					>
						<figure>
							<img
								class="max-w-[200px]"
								alt="Mensch! probier es"
								title="Mensch! probier es"
								src={createBaseurl("mensch_probieres.png")}
							/>
							<!--<figcaption class="pt-1 text-sm text-red-600">Suche</figcaption>-->
						</figure>
					</a>
					<a
						href={createBaseurl("annotation")}
						class={`block px-1 text-lg ${textcolor}`}
						role="menuitem"
						tabindex="-1"
					>
						<figure>
							<img
								class="max-w-[200px]"
								alt="Annotation"
								title="Annotation"
								src={createBaseurl("3Annotation.png")}
							/>
							<!--<figcaption class="pt-1 text-sm text-red-600">Annotation</figcaption>-->
						</figure>
					</a>
					<a
						href={createBaseurl("nutzung")}
						class={`block px-1 text-lg ${textcolor}`}
						role="menuitem"
						tabindex="-1"
					>
						<figure>
							<img
								class="max-w-[200px]"
								alt="Nutzbarkeit"
								title="Nutzbarkeit"
								src={createBaseurl("4Nutzung.png")}
							/>
							<!--<figcaption class="pt-1 text-sm text-red-600">Nutzbarkeit</figcaption>-->
						</figure>
					</a>
					<a
						href={createBaseurl("zitieren-kontakt")}
						class={`block px-1 text-lg ${textcolor}`}
						role="menuitem"
						tabindex="-1"
					>
						<figure>
							<img
								class="max-w-[200px]"
								alt="merckts wohl"
								title="Projekt"
								src={createBaseurl("merckts_wohl.png")}
							/>
							<!--<figcaption class="pt-1 text-sm text-red-600">Projekt</figcaption>-->
						</figure>
					</a>
					<a
						href={createBaseurl("ueber-uns")}
						class={`block px-1 text-lg ${textcolor}`}
						role="menuitem"
						tabindex="-1"
					>
						<figure>
							<img
								class="max-w-[100px]"
								alt="über uns"
								title="über uns"
								src={createBaseurl("6Ueberuns.png")}
							/>
							<!--<figcaption class="pt-1 text-sm text-red-600">Über Uns</figcaption>-->
						</figure>
					</a>
					<a
						href={createBaseurl("dank")}
						class={`block px-1 text-lg ${textcolor}`}
						role="menuitem"
						tabindex="-1"
					>
						<figure>
							<img
								class="max-w-[200px]"
								alt="Danck!"
								title="Danck!"
								src={createBaseurl("Danck.png")}
							/>
							<!--<figcaption class="pt-1 text-sm text-red-600">Dank</figcaption>-->
						</figure>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="hidden" id="mobile-menu">
	<div class="space-y-1 px-2 pb-3 pt-2 text-left">
		<a
			href={createBaseurl("corpus")}
			class={`block px-1 text-lg ${textcolor}`}
			role="menuitem"
			tabindex="-1"
		>
			<figure>
				<img class="max-w-[200px]" alt="Corpus" src={createBaseurl("Corpus-Button.png")} />
				<!-- <figcaption class="pt-1 text-sm text-red-600">Korpus</figcaption> -->
			</figure>
		</a>
		<a
			href={createBaseurl("suche")}
			class={`block px-1 text-lg ${textcolor}`}
			role="menuitem"
			tabindex="-1"
		>
			<figure>
				<img
					class="max-w-[200px]"
					alt="Mensch! probier es"
					src={createBaseurl("mensch_probieres.png")}
				/>
				<!-- <figcaption class="pt-1 text-sm text-red-600">Suche</figcaption> -->
			</figure>
		</a>
		<a
			href={createBaseurl("annotation")}
			class={`block px-1 text-lg ${textcolor}`}
			role="menuitem"
			tabindex="-1"
		>
			<figure>
				<img class="max-w-[200px]" alt="Annotation" src={createBaseurl("3Annotation.png")} />
				<!-- <figcaption class="pt-1 text-sm text-red-600">Annotation</figcaption> -->
			</figure>
		</a>
		<a
			href={createBaseurl("nutzung")}
			class={`block px-1 text-lg ${textcolor}`}
			role="menuitem"
			tabindex="-1"
		>
			<figure>
				<img class="max-w-[200px]" alt="Nutzbarkeit" src={createBaseurl("4Nutzung.png")} />
				<!-- <figcaption class="pt-1 text-sm text-red-600">Nutzbarkeit</figcaption> -->
			</figure>
		</a>
		<a
			href={createBaseurl("zitieren-kontakt")}
			class={`block px-1 text-lg ${textcolor}`}
			role="menuitem"
			tabindex="-1"
		>
			<figure>
				<img class="max-w-[200px]" alt="merckts wohl" src={createBaseurl("merckts_wohl.png")} />
				<!-- <figcaption class="pt-1 text-sm text-red-600">Projekt</figcaption> -->
			</figure>
		</a>
		<a
			href={createBaseurl("ueber-uns")}
			class={`block px-1 text-lg ${textcolor}`}
			role="menuitem"
			tabindex="-1"
		>
			<figure>
				<img class="max-w-[100px]" alt="über uns" src={createBaseurl("6Ueberuns.png")} />
				<!-- <figcaption class="pt-1 text-sm text-red-600">Über Uns</figcaption> -->
			</figure>
		</a>
		<a
			href={createBaseurl("dank")}
			class={`block px-1 text-lg ${textcolor}`}
			role="menuitem"
			tabindex="-1"
		>
			<figure>
				<img class="max-w-[200px]" alt="Danck!" src={createBaseurl("Danck.png")} />
				<!-- <figcaption class="pt-1 text-sm text-red-600">Dank</figcaption> -->
			</figure>
		</a>
	</div>
</div>
<script>
	const btn = document.querySelector('button[aria-controls="mobile-menu"]');
	btn?.addEventListener("click", () => {
		const menu = document.querySelector("#mobile-menu");
		const expanded = menu?.getAttribute("aria-expanded") === "true" || false;
		menu?.setAttribute("aria-expanded", String(!expanded));
		menu?.classList.toggle("hidden");
	});
</script>
